<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Sitemap -->
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

    <!-- Metadata -->
    <title>{{ title or metadata.title }} | Thumbnail.live</title>
    <meta name="title" content="{{ title or metadata.title }} | Thumbnail.live">
    <meta name="description" content="{{ desc or metadata.desc }}">

    <!-- Branding -->
    <meta name="theme-color" content="#FF0000">
    <link rel="icon" href="/assets/icon.png">

    <!-- CSS -->
    <link rel="stylesheet" href="/assets/index.css">
    {% if tool == "thumbnail" or tool == "feed" %}<link rel="stylesheet" href="/assets/thumbnail.css">{% endif %}
    {% if tool == "upNext" %}<link rel="stylesheet" href="/assets/up-next.css">{% endif %}
    {% if tool == "search" %}<link rel="stylesheet" href="/assets/search.css">{% endif %}
    {% if tool == "comment" %}<link rel="stylesheet" href="/assets/comment.css">{% endif %}
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <!-- Opengraph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.thumbnail.live/">
    <meta property="og:title" content="{{ title or metadata.title }} | Thumbnail.live">
    <meta property="og:site_name" content="Thumbnail.live">
    <meta property="og:description" content="{{ desc or metadata.desc }}">
    <meta property="og:image" content="/assets/og.png">

    <!-- Twitter since they're different or something -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.thumbnail.live/">
    <meta property="twitter:title" content="{{ title or metadata.title }} | Thumbnail.live">
    <meta property="twitter:description" content="{{ desc or metadata.desc }}">
    <meta property="twitter:image" content="/assets/og.png">
</head>
<body class="preload">

    <!-- Dark mode pre footer -->
    <script>
        var currentTheme = localStorage.getItem("theme");
        {# var matched = window.matchMedia('(prefers-color-scheme: dark)').matches; #}

        if (currentTheme == "system") {
            setSystem();
        }

        if (currentTheme == "light") {
            setLight();
        }
        
        if (currentTheme == "dark") {
            setDark();
        }

        function setSystem() {
            document.body.classList.remove('dark');
            document.body.classList.remove('light');
        }
        
        function setDark() {
            document.body.classList.add('dark');
            document.body.classList.remove('light');
        }

        function setLight() {
            document.body.classList.add('light');
            document.body.classList.remove('dark');
        }
    </script>

    <div class="mobile" id="menu">
        <i class="ri-close-fill menu-close" id="close" onclick="closeMobile()" onkeydown="if (event.keyCode === 13) {closeMobile()}" tabindex="0"></i>
        <div style="display: flex; flex-direction: column; height: 100%; width: 100%;">
            <div class="mobile-padding">
                <a href="/" class="logo"><i class="ri-play-circle-fill"></i><span>Thumbnail.live</span></a>
            </div>
            <hr>
            <a href="/" class="mobile-link">Home</a>
            <a href="/up-next/" class="mobile-link">Up Next</a>
            <a href="/search/" class="mobile-link">Search</a>
            <a href="/feed/" class="mobile-link">In Feed</a>
            <a href="/comment/" class="mobile-link">Comment</a>
            <hr>
            <a href="/about/" class="mobile-link">About us</a>
            <a href="/support/contact/" class="mobile-link">Contact us</a>
            <div class="mobile-padding" style="margin-top: auto;">
                <a href="/support/" class="btn btn-wide">Help Center</a>
            </div>
        </div>
    </div>
    <div class="mobile-bg" id="menu-bg" onclick="closeMobile()"></div>

    <div class="navbar-container">
        <div class="navbar container">
            <div class="left">
                <div class="menu-open" onclick="openMobile();" onkeydown="if (event.keyCode === 13) {openMobile()}" id="open" tabindex="0">
                    <i class="ri-menu-fill"></i>
                </div>
                <a href="/" class="logo"><i class="ri-play-circle-fill"></i><span>Thumbnail.live</span></a>
                <div class="items">
                    {# <div class="tag"><span>Thumbnail View:</span></div> #}
                    <a href="/" class="item{% if page.url == "/" %} active{% endif %}">Home</a>
                    <a href="/up-next/" class="item{% if page.url == "/up-next/" %} active{% endif %}">Up Next</a>
                    <a href="/search/" class="item{% if page.url == "/search/" %} active{% endif %}">Search</a>
                    <a href="/feed/" class="item{% if page.url == "/feed/" %} active{% endif %}">In Feed</a>
                    <a href="/comment/" class="item{% if page.url == "/comment/" %} active{% endif %}">Comment</a>
                </div>
            </div>
            <div class="right">
                <a href="/support/" class="btn"><span class="txt">Help Center</span><span class="icon"><i class="ri-question-fill"></i></span></a>
            </div>
        </div>
    </div>

    <div class="layout">

        <div class="navbar-spacer"></div>

        <noscript>
            <div>
                <div class="container">
                    <div class="alert">
                        <div class="cols">
                            <i class="ri-javascript-fill"></i>
                            <div class="col">
                                <div class="alert-heading">
                                    JavaScript is required for this website to work properly.
                                </div>
                                <div class="alert-desc">
                                    Please enable JavaScript on your browser or switch to another browser with JavaScript enabled.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </noscript>

        {{ content | safe }}

        <div>
            <div class="container">
                <div class="alert">
                    <div class="cols">
                        <i class="ri-information-fill"></i>
                        <div class="col">
                            <div class="alert-heading">
                                Thumbnail.live is not associated with YouTube in any way.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# <div>
            <div class="container">
                <div class="alert">
                    <div class="cols">
                        <i class="ri-shield-check-fill"></i>
                        <div class="col">
                            <div class="alert-heading">
                                Nothing you upload is stored on our server.
                            </div>
                            <div class="alert-desc">
                                You can rest easy knowing we are not storing anything you upload.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> #}

        <div class="footer-container">
            <div class="footer container">
                <div class="cols">
                    <div class="col">
                        <div style="transform: translateY(-3px);" class="logo"><i class="ri-play-circle-fill"></i><span>Thumbnail.live</span></div>
                        <p>
                            {{ metadata.desc }}
                        </p>
                        <div>
                            <select class="dm" id="dm" onchange="dm()">
                                <option value="system">System</option>
                                <option value="light">Light</option>
                                <option value="dark">Dark</option>
                            </select>
                            <i class="ri-arrow-down-s-line dm-icon"></i>
                        </div>
                    </div>
                    <div class="col">
                        <div class="logo">Resources</div>
                        <div class="grid-2">
                            <a href="/" class="foot-link">Home</a>
                            <a href="/up-next/" class="foot-link">Up Next</a>
                            <a href="/search/" class="foot-link">Search</a>
                            <a href="/feed/" class="foot-link">In Feed</a>
                            <a href="/comment/" class="foot-link">Comment</a>
                            <a href="/posts/" class="foot-link">Guides</a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="logo">Support</div>
                        <div class="grid-2">
                            <a href="/support/" class="foot-link">Help Center</a>
                            <a href="/about/" class="foot-link">About us</a>
                            <a href="/contact/" class="foot-link">Contact us</a>
                            <a href="/privacy-policy/" class="foot-link">Privacy Policy</a>
                        </div>
                    </div>
                </div>
                <div class="note">
                    <div>
                        Copyright © <span id="year">[current year]</span><script>document.getElementById("year").innerHTML = new Date().getFullYear();</script> Thumbnail.live
                    </div>
                    <div>
                        Thumbnail.live is not associated with YouTube.com
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        var menu = document.getElementById("menu");
        var menuBg = document.getElementById("menu-bg");

        function openMobile() {
            document.body.style.overflow = "hidden";
            menu.style.display = "flex";
            menuBg.style.display = "block";
            setTimeout(function(){
                menu.style.transform = "translateX(0%)";
                menuBg.style.opacity = "1";
                document.getElementById("close").focus();
            }, 10);
        }

        function closeMobile() {
            document.body.style.overflow = "unset";
            menu.style.transform = "translateX(-110%)";
            menuBg.style.opacity = "0";
            setTimeout(function(){
                menu.style.display = "none";
                menuBg.style.display = "none";
                document.getElementById("open").focus();
            }, 250);
        }
    </script>

    {% if tool == "thumbnail" or tool == "feed" or tool == "upNext" or tool == "search" %}<script src="/assets/thumbnail.js"></script>{% endif %}
    {% if tool == "feed" %}<script src="/assets/feed.js"></script>{% endif %}
    {% if tool == "comment" %}<script src="/assets/comment.js"></script>{% endif %}

    <!-- Preload animation stop -->
    <script>
        window.onload = (event) => {
            document.body.classList.remove('preload');
        };
    </script>

    <!-- Dark mode post footer -->
    <script>
        var state = document.getElementById("dm").value;

        if (currentTheme == "system") {
            document.getElementById("dm").value = "system";
        }

        if (currentTheme == "light") {
            document.getElementById("dm").value = "light";
        }

        if (currentTheme == "dark") {
            document.getElementById("dm").value = "dark";
        }

        function dm() {
            state = document.getElementById("dm").value;
            let theme = "light";
            if (state == "system") {
                setSystem();
                theme = "system";
            }
            if (state == "light") {
                setLight();
                theme = "light";
            }
            if (state == "dark") {
                setDark();
                theme = "dark";
            }
            localStorage.setItem("theme", theme);
        }
    </script>

</body>
</html>