---
layout: base.njk
---

<div class="post">
    <div class="container">
        <div class="cols" id="sidebar-wrapper">
            {% if not isBlog %}
            <div class="sidebar" id="sidebar">
                <div class="sidebar-nav" id="sidebar-inner">
                    <div class="sidebar-nav-heading">Help Center</div>
                    <hr>
                    <a href="/support/"{% if page.url == "/support/" %} class="active"{% endif %}>Getting Started</a>
                    <a href="/support/thumbnail/"{% if page.url == "/support/thumbnail/" %} class="active"{% endif %}>How To Use This Website</a>
                    <a href="/support/home/"{% if page.url == "/support/home/" %} class="active"{% endif %}>Home Preview Help</a>
                    <a href="/support/up-next/"{% if page.url == "/support/up-next/" %} class="active"{% endif %}>Up Next Preview Help</a>
                    <a href="/support/search/"{% if page.url == "/support/search/" %} class="active"{% endif %}>Search Preview Help</a>
                    <a href="/support/feed/"{% if page.url == "/support/feed/" %} class="active"{% endif %}>In Feed Preview Help</a>
                    <a href="/support/comment/"{% if page.url == "/support/comment/" %} class="active"{% endif %}>Comment Preview Help</a>
                    <hr>
                    <div class="sidebar-nav-heading">More Pages</div>
                    <hr>
                    <a href="/about/"{% if page.url == "/about/" %} class="active"{% endif %}>About us</a>
                    <a href="/contact/"{% if page.url == "/contact/" %} class="active"{% endif %}>Contact us</a>
                    <a href="/privacy-policy/"{% if page.url == "/privacy-policy/" %} class="active"{% endif %}>Privacy Policy</a>
                </div>
            </div>
            {% endif %}
            <div class="col">
                {% if isBlog %}
                <div class="meta" style="margin-bottom: 25px;">
                    <h1 class="meta-title">{{ title }}</h1>
                    {% if date %}<b style="margin-top: 15px; display: flex; font-size: 1.2rem; align-items: center; gap: 5px;"><i class="ri-time-line" style="font-size: 1.4rem; font-weight: normal;"></i> {{ date | date }}</b>{% endif %}
                    {% if showDesc %}<b style="margin-top: 15px; display: flex; font-size: 1.2rem; align-items: center; gap: 5px;">{{ desc }}</b>{% endif %}
                </div>
                {% endif %}
                {% if not noArticle %}<article class="article">{% else %}<div>{% endif %}
                {{ content | safe }}
                {% if not noArticle %}</article>{% else %}</div>{% endif %}
                {% if isBlog and page.url != "/articles/" %}
                <a href="/posts/" class="btn" style="margin-top: 25px;">See All Articles</a>
                {% endif %}
                {% if page.url == "/articles/" %}
                <a href="/support/" class="btn" style="margin-top: 25px;">Help Center</a>
                {% endif %}
            </div>
            {% if isBlog %}
            <div class="sidebar" id="sidebar">
                <div class="sidebar-nav" id="sidebar-inner">
                    <div class="sidebar-nav-heading">Preview Your Thumbnail</div>
                    <hr>
                    <a href="/">In YouTube Homepage</a>
                    <a href="/up-next/">In YouTube Up Next</a>
                    <a href="/search/">In YouTube Search</a>
                    <a href="/feed/">In YouTube Feed</a>
                    <hr>
                    <div class="sidebar-nav-heading">Preview Your Comment</div>
                    <hr>
                    <a href="/comment/">YouTube Comment Previewer</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!-- Sidebar -->
<script type="text/javascript" src="/assets/resize-sensor.js"></script>
<script type="text/javascript" src="/assets/sidebar.js"></script>
<script>
    var sidebar = new StickySidebar('#sidebar', {
        containerSelector: '#sidebar-wrapper',
        innerWrapperSelector: '#sidebar-inner',
        topSpacing: 95,
        bottomSpacing: 25,
        minWidth: 900
    });
</script>