<div>
    <div class="container">
        <div class="preview-options">
            <div class="preview-option-hero">
                <h1>Preview your thumbnail in multiple formats</h1>
                <p>
                    Choose a format to see how your thumbnail will look across YouTube.
                </p>
            </div>
            <div class="preview-option-formats">
                <a href="/" class="preview-option{% if page.url == "/" %} active{% endif %}">
                    {% include 'skels/home.njk' %}
                </a>
                <a href="/up-next/" class="preview-option{% if page.url == "/up-next/" %} active{% endif %}">
                    {% include 'skels/up-next.njk' %}
                    {% include 'skels/up-next.njk' %}
                    {% include 'skels/up-next.njk' %}
                </a>
                <a href="/search/" class="preview-option{% if page.url == "/search/" %} active{% endif %}">
                    {% include 'skels/search.njk' %}
                    {% include 'skels/search.njk' %}
                </a>
                <a href="/feed/" class="preview-option{% if page.url == "/feed/" %} active{% endif %}">
                    <div class="grid-2" style="gap: 6px;">
                        {% include 'skels/feed.njk' %}
                        {% include 'skels/feed.njk' %}
                        {% include 'skels/feed.njk' %}
                        {% include 'skels/feed.njk' %}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="cols other-tools">
            <div class="col tools-card">
                <i class="ri-tools-fill"></i>
                <h1>Explore more thumbnail tools</h1>
                <p>
                    Explore more of our tools to up your thumbnail game.
                </p>
            </div>
            <div class="col tools-card-tool">
                <h1>Compare Your YouTube Thumbnails</h1>
                <p>
                    Compare your YouTube thumbnails and see how they will look on YouTube.
                </p>
                <a href="/compare/" class="btn">Compare Thumbnails</a>
            </div>
            <div class="col tools-card-tool">
                <h1>Preview Your YouTube Comment</h1>
                <p>
                    Preview your YouTube comment and see how it will look before posting it.
                </p>
                <a href="/comment/" class="btn">Preview Comment</a>
            </div>
        </div>
    </div>
</div>