---
permalink: oembed.json
---

{
    "type":"link",
    "version":"1.0",
    
    "author_name": "NEW: Compare Thumbnails With Thumbnail.live",
    "author_url": "https://www.thumbnail.live/compare/",
    
    "provider_name": "Thumbnail.live",
    "provider_url": "https://www.thumbnail.live/"
}