<div class="preview-option-skel">
    <div class="aspect">
        <div class="skel-thumbnail"></div>
    </div>
    <div class="skel-cols">
        <div class="skel-avatar" style="width: 15px; height: 15px;"></div>
        <div class="skel-col">
            <div class="skel-text" style="font-size: 0.3rem;">___________</div>
            <div class="skel-text" style="font-size: 0.3rem;">__________________</div>
            <div class="skel-text-s" style="font-size: 0.1rem;">__________________</div>
            <div class="skel-text-s" style="font-size: 0.1rem;">______________________________</div>
        </div>
    </div>
</div>