<div class="preview-option-skel">
    <div class="skel-grid" style="grid-template-columns: 4fr 3fr;">
        <div class="skel-col">
            <div class="aspect">
                <div class="skel-thumbnail"></div>
            </div>
        </div>
        <div class="skel-col">
            <div class="skel-text">___________</div>
            <div class="skel-text-s">________________________</div>
            <div class="skel-cols center">
                <div class="skel-avatar" style="width: 15px; height: 15px;"></div>
                <div class="skel-col">
                    <div class="skel-text-s">_________________</div>
                </div>
            </div>
            <div class="skel-text-s" style="width: 100%;">____________</div>
            <div class="skel-text-s">__________________</div>
        </div>
    </div>
</div>