<div class="preview-option-skel">
    <div class="skel-grid" style="grid-template-columns: 3fr 4fr;">
        <div class="skel-col">
            <div class="aspect">
                <div class="skel-thumbnail"></div>
            </div>
        </div>
        <div class="skel-col">
            <div class="skel-text">___________</div>
            <div class="skel-text">__________________</div>
            <div class="skel-text-s">_____________</div>
            <div class="skel-text-s">________________________</div>
        </div>
    </div>
</div>