---
layout: base.njk
title: Preview Your YouTube Thumbnail Live
tool: upNext
---

<div class="main thumbnail-tool">
    <div class="container">
        <div class="cols">
            <div class="sidebar">
                <form onsubmit="genVideo(); return false;">

                    <div class="input combo">
                        <label for="thumbnailupload">Upload Thumbnail</label>

                        <div class="upload-btn-wrapper">
                            <label for="thumbnailupload" class="aspect">
                                <div id="thumbnailupload-btn" style="background-image: url('https://img.youtube.com/vi/nuB-Ru9ZOAc/maxresdefault.jpg');" class="form-btn ratio"><span>Upload File</span></div>
                            </label>
                            <input type="file" accept="image/*" id="thumbnailupload" name="thumbnailupload" onchange="uploadThumbnail();genVideo();">
                        </div>

                        <div class="divider"><span>OR</span></div>

                        <label for="thumbnailurl">Paste Thumbnail URL</label>
                        <input type="text" id="thumbnailurl" name="thumbnailurl" placeholder="https://example.com/file.png" onchange="genVideo();">
                        <div class="warn">Leave blank to use uploaded file.</div>
                    </div>

                </form>
            </div>
            <div class="col video-container">
                
                <div class="video">
                    
                    <div class="content">
                        <div class="thumbnail">
                            <span id="length">10:46</span>
                            <div class="thumbnail-img"></div>
                        </div>
                        <div class="info">
                            <div class="text">
                                <div id="videotitle-input" class="videotitle-input">I Played Would You Rather In Geometry Dash</div>
                                <p><span class="name"><span id="username-input" class="username-input">Moldy</span></span> <div class="verified">
                                    <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false" class="style-scope yt-icon" style="width: 100%; height: 100%;"><g class="style-scope yt-icon"><path d="M12,2C6.5,2,2,6.5,2,12c0,5.5,4.5,10,10,10s10-4.5,10-10C22,6.5,17.5,2,12,2z M9.8,17.3l-4.2-4.1L7,11.8l2.8,2.7L17,7.4 l1.4,1.4L9.8,17.3z" class="style-scope yt-icon"></path></g></svg>
                                </div></p>
                                <p class="extra"><span id="views">4.1K views</span> • <span id="time">2 hours ago</span></p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="sidebar">
                <form onsubmit="genVideo(); return false;">

                    <div class="input combo">
                        <label for="videotitle">Video Title</label>
                        <input type="text" id="videotitle" name="videotitle" placeholder="I Played Would You Rather In Geometry Dash" onchange="genVideo();">
                    </div>
                    <div class="input combo">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" placeholder="Moldy" onchange="genVideo();" maxlength="30">
                    </div>
                    <button class="btn btn-wide" onclick="genVideo();">Preview Thumbnail</button>

                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <article class="article">
            <h1>YouTube Up Next Thumbnail Preview</h1>
            <p>
                Test your YouTube thumbnail with Thumbnail.live, crafted from the ground up to be the best online YouTube thumbnail previewer.
            </p>
            <p>
                This tool allows you to test your YouTube thumbnail to see how it looks when the user is viewing another video.
            </p>
            <p>
                You can submit links to your thumbnail and avatar if its already online and save the hassle of having to find them in your files.
            </p>
            <p>
                Everything you input (excluding uploaded files) is stored on your browser, meaning you don't have to re-enter your avatar link and username every time.
            </p>
            <p>
                Uploaded files are not stored, so if you want to retain your thumbnail and avatar, you always have the option to use links instead.
            </p>
        </article>
    </div>
</div>